body {
  font: 1em helvetica, arial, sans-serif;
  background-color: #fff;
  color: #111;
}

.sticky-heading {
  position: sticky ;
  background-color: white;
  top: 0;
  z-index: 1;
  display: flex;
  height: 5em;
  justify-content: space-between;
}

.sticky-sub-heading {
  position: sticky ;
  background-color: white;
  top: 1.5em;
}

.story {
  padding: 0 1em;
  width: 70%;
  margin: auto;
}

.next-article{
  text-align: right;
  margin: 0 2rem;
}
